{% extends "monitor/base.html" %}
{% block content %}
<h4>Alert Detail</h4>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>Type:</strong> {{ alert.alert_type }}</li>
  <li class="list-group-item"><strong>Severity:</strong> {{ alert.severity }}</li>
  <li class="list-group-item"><strong>Source:</strong> {{ alert.src_ip }}</li>
  <li class="list-group-item"><strong>Destination:</strong> {{ alert.dst_ip }}</li>
  <li class="list-group-item"><strong>Description:</strong> {{ alert.description }}</li>
  <li class="list-group-item"><strong>Evidence:</strong> {{ alert.evidence }}</li>
  <li class="list-group-item"><strong>Created:</strong> {{ alert.created_at }}</li>
</ul>
<a href="/alerts/" class="btn btn-secondary">Back</a>
{% endblock %}
