# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django / Python
db.sqlite3
*.sqlite3

# Migrations cache
*/migrations/__pycache__/
*/__pycache__/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# PyShark capture outputs (if any)
*.pcap
*.pcapng
